<div class="container">
    <div class="flex justify-between items-center mb-4">
      <h2>Spa Services</h2>
      <div class="flex">
        <input type="text" [(ngModel)]="searchName" (input)="filterSpas()" class="search-input" placeholder="Search Spa by Name">
      </div>
      <button class="btn btn-success" (click)="addSpa()">➕ Ajouter Spa</button>
    </div>
  
    <table class="table table-hover">
      <thead>
        <tr>
          <th>Nom</th>
          <th>Description</th>
          <th>Prix</th>
          <th>Disponnible</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let spa of filteredSpas">
          <td>{{ spa.name }}</td>
          <td>{{ spa.description }}</td>
          <td>{{ spa.price }} DT</td>
          <td>{{ spa.available ? 'Oui' : 'Non' }}</td>
          <td>
            <button class="btn btn-primary" (click)="editSpa(spa)">Modifier</button>
            <button class="btn btn-danger" (click)="deleteSpa(spa.id!)">Supprimer</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  