<!-- login.component.html -->
<div class="login-page">
  <div class="login-container">
    <div class="login-left">
      <img src="./assets/images/logo-hotelna.png" alt="Logo" class="login-image">
    </div>
    <div class="login-right">
      <h2 class="login-title">Login</h2>
      <form (ngSubmit)="onLogin()">
        <div class="form-group">
          <label for="email">Email:</label>
          <input type="email" class="form-control" id="email" [(ngModel)]="user.email" name="email" required>
        </div>
        <div class="form-group">
          <label for="password">Password:</label>
          <input type="password" class="form-control" id="password" [(ngModel)]="user.password" name="password" required>
        </div>
        <button type="submit" class="btn btn-primary">Login</button>
      </form>
      <!-- Button to trigger Add User Swal -->
      <div class="add-user-btn-container">
        <button class="add-user-btn" (click)="addUser()">Sign In</button>
      </div>
    </div>
  </div>
</div>
