/* login.component.css */
.login-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #111827; /* Dark background */
}

.login-container {
  display: flex;
  width: 80%; /* Or any width you prefer */
  height: 80%; /* Or any height you prefer */
  border-radius: 10px;
  overflow: hidden; /* Ensures no content overflows the container */
}

.login-left {
  flex: 1;
  background-color: #1f2937; /* Dark Slate Gray */
}

.login-image {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Makes sure the image covers the whole left side */
}

.login-right {
  flex: 1;
  background-color: #1f2937; /* Dark Slate Gray */
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
}

.login-title {
  font-size: 2rem;
  text-align: center;
  margin-bottom: 20px;
}

.form-group label {
  color: #ccc;
}

.form-control {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  background-color: #333;
  color: white;
}

.btn-primary {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: white;
}
/* login.component.css */

/* Style for the Add User button */
.add-user-btn-container {
  margin-top: 20px;
  text-align: center;
}

.add-user-btn {
  background-color: #28a745; /* Green background */
  color: white; /* White text */
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.add-user-btn:hover {
  background-color: #218838; /* Darker green on hover */
  transform: scale(1.05); /* Slightly enlarge the button on hover */
}

.add-user-btn:focus {
  outline: none;
}

.add-user-btn:active {
  background-color: #1e7e34; /* Even darker green when clicked */
  transform: scale(1); /* Prevent scaling when clicked */
}
.forgot-password-container {
  text-align: center;
  margin-top: 10px;
}

.forgot-password-btn {
  background: none;
  border: none;
  color: #007bff;
  cursor: pointer;
  font-size: 14px;
  text-decoration: underline;
}

.forgot-password-btn:hover {
  color: #0056b3;
}
.swal-custom-popup {
  width: 40vh !important;
  height: 40vh !important;
  max-width: 90vw !important;
  max-height: 90vh !important;
  border-radius: 20px !important;
  padding: 20px !important;
  font-size: 18px !important;
  background: #f8f9fa !important;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2) !important;
  display: flex !important;
  flex-direction: column !important;
  justify-content: center !important;
  align-items: center !important;
  text-align: center !important;
}

.swal-custom-button {
  background-color: #007bff !important;
  color: white !important;
  font-size: 16px !important;
  padding: 12px 20px !important;
  border-radius: 6px !important;
}
